.container {
    background-color: #575b78;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
}
.contentContainer h1{
    font-size: 119px;
    font-family: 'Bebas Neue', sans-serif;
    color: #C5C6CC;
    margin-bottom: 0px;
}
.contentContainer p{
    font-family: "poppins", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin-top: 0px;
    margin-left: 4%;
    color: white;
}
.subTag{
    font-family: 'Bebas Neue', sans-serif;
    color: #C5C6CC;
    font-size: 34px;
    position: absolute;
    top: 30px;
    left: 55px;
}
.name{
    font-family: 'Bebas Neue', sans-serif;
    color: #C5C6CC;
    width: 100px;
    text-align: right;
    font-size: 34px;
    position: absolute;
    right: 55px;
}
@media screen and (max-width: 600px){
    .contentContainer h1{
        font-size: 15vw;

    }
    .contentContainer{
        width: 100vw;
        margin-bottom: 10%;
        margin-left: 10px;
        align-items: left;
    }
    .contentContainer p{
        width: 100%;
        margin: 0px;
    }
    .name{
        display: none;
    }
    .subTag{
        display: none;
    }
}
